history
request
elpa_bak
bookmarks
backups
ac-comphist.dat
auto-save-list
eshell
cache
.smex-items
desktop.el
projectile-bookmarks.eld
projectile.cache
emacs-desktop
server
.emacs.desktop.lock
places
recentf
*.elc
tramp
